@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@media (max-width:600px) {
    .video{
        width:300px;
        height:200px; 
    }
}
.text-body{
    margin: 20px;
    font-family: 'Itim', cursive;
}

.text-body h2{
    font-size: 22pt;
    color: #5e5e5e;
}
.text-body p{
    text-align: left;
    font-size: 16pt;
    color: #223036;
}